<p style="color: red; text-align:center;"><%= notice %></p>

<h1 class="text-center">Pessoas</h1>

<%= button_to "New pessoa", new_pessoa_path,  :method => "get", :class => "btn btn-success" %>
  
<div id="pessoas">
<%= render 'table'%>
</div>


