


<div style="text-align:center">
<h1>Editing esporte</h1>
<%= render "form", esporte: @esporte %>
<br>
  <%= link_to "Show this esporte", @esporte %> |
  <%= link_to "Back to esportes", esportes_path %>
</div>
