


<div style="text-align:center">
<h1>Editing estado</h1>
<%= render "form", estado: @estado %>
<br>
  <%= link_to "Show this estado", @estado %> |
  <%= link_to "Back to estados", estados_path %>
</div>
